<h1> Pipes</h1>

<p>Normal Java script date: {{toDate}}</p> <br>
<p>Using Date pipe: {{toDate|date}}</p><br>
<p> Medium date: {{toDate|date: 'medium'}}</p><br>
<p> Short date: {{toDate|date:'short'}}</p><br>
<p> Full date: {{toDate|date:'fullDate'}}</p><br>
<p> Long date: {{toDate|date:'longDate'}}</p><br>
<p> Normal value:{{title}} ,{{title|uppercase}}, {{title|titlecase}} , {{title|lowercase}}</p>
<p>Slice pipe:values 0-4 {{title|slice:0:4}}</p>


<hr>
<p>Slice Pipe.</p>
<ul>
    <li *ngFor="let item of items | slice:0:3 ">{{ item|slice:0:4 }}</li>

</ul>
<hr>

<p> Currency Pipe.</p>
<p>Price without formatting : {{price}}</p>
<p> Price with formatting : {{price|currency}}</p>
<p> Price with formatting in I ndian : {{price|currency:'INR'}}</p>

<!-- ////// -->


<!-- 
<div>
    <h1>For Atribute Directives.</h1>
    <div>
        <p [ngClass]="['primary', 'big']">Sample Text.</p>
    </div>
    <hr>
    <div>
        <p [ngClass]="{'primary' : applyRed}">Sample Text.</p>
        Apply red: <input type="checkbox" [(ngModel)]="applyRed">
    </div>
    <br>
    <hr>
    <h1>ngStyle.</h1>

    <p [ngStyle]="{'color':'red', 'font-size':'40px'}">Sample Text.</p>

</div>
 -->



<!-- ////////////////////// -->

<!-- 
For Sturctural Directives.


 <div>


    <h1> Component</h1>
    <app-counter></app-counter>
    <br>
    <hr>

    <h1>Structural Directives.</h1>
    <h3>ngFor Example - (Structural Directives)</h3>

    <ul>
        <li *ngFor='let movie of movies'>{{movie}}</li>
    </ul>

    <hr>
    <br>
    <h3>ngIf - (Structural Directives)</h3>

    A simple ngIf Sturctural Directives.
    <p *ngIf="true">Can you see me.</p>
    <hr>

    <input type="submit" value="click here to show the below text." (click)="showMe()">&nbsp;&nbsp;
    <input type="submit" value="click here to hide the below text." (click)="showMeNot()">
    <p *ngIf="ShowME">Can you see me.</p>
    <br>
    <hr>

    <input type="checkbox" [(ngModel)]="showME1">
    <p *ngIf="showME1">Can you see me.</p>

    <br>
    <hr>


</div>  -->


<!-- /////////////// -->